/* Define css class for global loading message to cover
   screen during axios operations */

.loading-indicator:before {
  content: '';
  //background: #000000cc;
  position: fixed;
  width:100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loading-indicator:after {
  content: 'لطفا منتظر بمانید...';
  position: fixed;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: 1001;
  color:black;
  text-align:center;
  font-weight:bold;
  font-size:1.5rem;
  font-family: IRANSans,sans-serif;
  direction: rtl;
}