#login-form-container {
  background-color: rgb(64, 45, 96);
  background-image: url('../../assets/images/flyting-birds@2x.png');
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  opacity: 80%;
  background-size: cover;
}

.login-L-items {
  padding: 20px 0 20px 3px;
  border-left: 1px solid #402D60;
  font-size: 1.3vw;
  font-weight: lighter;
}
.login-L-items:hover{
  border-left: 2px solid #402D60;
}

#login-btn {
  width: 300px;
  background-color: #D9D9D9;
  border: 1px solid #23083D;
  border-radius: 20px;
  font-family: MJ_thameen,sans-serif;
  font-weight: bold;
  font-size: 3rem;
  margin: auto;
}
#login-btn:focus{
  outline: none;
  border-width: 2px;
}
