
#sign-up-form-container {
  background-color: rgba(64, 45, 96, 0.8);
  background-image: url("../../assets/images/flyting-birds@2x.png");
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
}