#sign-up-form-container {
  background-color: rgb(64, 45, 96);
  background-image: url('../../assets/images/birds-flying-silhouette@2x.png');
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  opacity: 80%;
  background-size: cover;
}

#sign-up-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-group {
  width: 20vw;
  margin: 35px 10px;
}