
#sign-up-form-container {
  background-color: rgb(64, 45, 96);
  background-image: url("../../assets/images/flyting-birds@2x.png");
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  opacity: 80%;
  background-size: cover;
}