html {
  font-size: 62.5%;
}
.foooooooooooooooooooooooooooooo {
  color: #606060;
}
body {
  overflow: scroll;
}
body::-webkit-scrollbar {
  display: none;
}
button {
  font-family: MJ_thameen, sans-serif;
}
button:hover {
  cursor: pointer;
}